/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Micro+5&display=swap');

/* Styles for the body */
body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */
.my-class-one {
    font-style: italic;
    color: #D4BFE6;
    font-family: "Cabin", sans-serif;
	font-size: 375%
}
.my-class-two {
    font-style: italic;
    font-family: "Cabin", sans-serif;
	font-weight: 400;
	font-size: 160%
}
.my-class-three {
    font-style: bold;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.language-progress {
    background-color: #B9AACE;
}
.language-level {
    border-color:#A38ABC!important;
}
.my-border-class {
	border-radius: 15px;
}
.header-line {
	margin: 6px 2px 10px 2px;
	color: darkslateblue;
}
.resume-header {
    background-color: #A38ABC;
}

.resume-main {
    background-color: #FFFFFF;
}

.resume-aside {
    background-color: #D0BCDE;
}
/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
    color: #A38ABC;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
