/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */
.my-class-one {
    font-style: italic;
    color: #D4BFE6;
    font-family: Comic Sans MS;
	font-size: 375%
}
.my-class-two {
    font-style: italic;
    font-family: comic sans;
	font-size: 180%
}
.my-class-three {
	font-style: italic
}


.resume-header {
    background-color: #A38ABC;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
    background-color: #BCC0DE;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
    color: #00899E;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
